@mixin cards {
    &.lg {
        width: 48rem;
        padding: 2rem;
        color: $white;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        gap: 1.5rem;
        .first {
            padding: 0 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            .temp {
                line-height: 2rem;
                h1 {
                    font-size: 4.5rem;
                }
                p {
                    margin-left: 1rem;
                    margin-top: 0.8rem;
                    color: $slate-545;
                }
            }
            .sun-rise-set {
                display: flex;
                gap: 3rem;
            }
            .sunrise {
                display: flex;
                gap: 0.5rem;
            }
            .sunset {
                display: flex;
                gap: 0.5rem;
            }
        }
        .sec {
            display: flex;
            flex-direction: column;
            text-align: center;
            .img {
                align-self: center;
                width: 120px;
                height: 120px;
            }
        }
        .third {
            padding: 0 2rem;
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;
            align-items: center;
            gap: 2.5rem;
        }
    }
    &.sm {
        width: 48rem;
        padding: 2rem;
        color: $white;
        text-align: center;
        margin: 0 auto;
        .list {
            list-style: none;
            .item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                text-align: center;
                .smimg {
                    width: 64px;
                    height: 64px;
                }
            }
        }
    }
    &.xl {
        width: 48rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: auto;
        padding: 2rem;
        color: $white;
        margin: 0 auto;
        h1 {
            text-align: center;
        }
        .hourly_list {
            display: flex;
            gap: 4rem;
        }
        .tile {
            width: 8rem;
            display: flex;
            flex-direction: column;
            text-align: center;
            background-color: transparentize($color: gray, $amount: 0.9);
            border-radius: 1rem;
        }
    }
}

