@import '_vars';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main {
    background: $black-theme;
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 3.5rem;
        .search {
            width: 32rem;
            height: 2rem;
            padding: 1.4rem;
            outline: none;
            border-radius: 2rem;
            color: $white;
            font-size: 1.3rem;
            background-color: $gray-38;
            border: none;
        }
        .creator {
            background-color: $gray-38;
            color: $white;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 1rem;
            font-size: 1rem;
            border-radius: 1rem;
        }
    }
}
.whiteTheme {
    background: $white-theme;
    color: $black-1e;
}