@import '_vars';

.switch {
    position: relative;
    display: inline-block;
    width: 5rem;
    height: 2rem;
    input {
        display: none;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $slate-545;
        transition: .4s;
        border-radius: 2rem;
        &:before {
            position: absolute;
            content: '';
            height: 1.5rem;
            width: 1.5rem;
            left: 0.2rem;
            bottom: 0.25rem;
            background-color: $white;
            transition: .4s;
            border-radius: 50%;
        }
    }
}

input:checked + .slider {
    background-color: $black-1e;
}

input:checked + .slider:before {
    transform: translateX(3rem);
}
